.manage-container {
  background-color: rgba(224, 235, 198, 0.2);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.manage-container .manage-header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: #f8fceee1;
}

.manage-container .manage-title {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.05rem;
}

@media screen and (min-width: 400px) {
  .manage-container .manage-title {
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
    word-spacing: 0.1rem;
  }
}

.manage-container .manage-button {
  font-size: 1.1rem;
}

@media screen and (min-width: 400px) {
  .manage-container .manage-button {
    font-size: 1.3rem;
  }
}
