@media screen and (max-width: 899px) {
  .user-orders-page-container {
    margin-bottom: 10rem;
  }
}

.user-orders-page-container {
  min-height: 100vh;
  padding: 3rem 0rem;
}

.user-orders-main-container {
  padding: 0;
  background: rgb(252, 252, 252);
  background: linear-gradient(
    90deg,
    rgba(252, 252, 252, 0.7) 10%,
    rgba(253, 240, 240, 0.7) 30%,
    rgba(228, 198, 198, 0.7) 100%
  );

  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.user-orders-filters-container {
  background-color: rgba(252, 252, 252, 0.55);
  padding: 1rem;
}

.user-order-query-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.user-order-query-container > input {
  width: 90%;
  padding: 0.4rem;
  background-color: rgba(252, 252, 252, 0.5);
  border: 1px solid #666;
  border-radius: 2px;
  background-image: url("../../assets//images/search.svg");
  background-repeat: no-repeat;
  background-size: 3%;
  background-position: 97% center;
  margin-bottom: 1rem;
}

.user-order-query-container .order-status-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: none;
  margin-bottom: 1rem;
}
.user-order-query-container .order-status {
  flex: 1;
  border: 1px solid #555;
  padding: 0.4rem;
  text-align: center;
  margin: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.user-order-query-container .order-status.processing {
  background-color: var(--processing);
}
.user-order-query-container .order-status.processed {
  background-color: var(--processed);
  color: white;
}
.user-order-query-container .order-status.shipped {
  background-color: var(--shipped);
  color: white;
}
.user-order-query-container .order-status.received {
  background-color: var(--received);
  color: white;
}

.user-order-query-container .order-status:hover,
.user-order-query-container .order-status:active {
  background-color: black;
  color: white;
}

.user-order-query-container .sort {
  padding: 0.4rem;
  border: 1px solid #555;
  width: 100%;
  margin: 0.3rem 0;
  background-color: var(--primary);
  cursor: pointer;
  transition: all 0.2s linear;
}
.user-order-query-container .sort:hover,
.user-order-query-container .sort:active {
  filter: brightness(0.8);
}
.user-order-query-container .sort .fas {
  margin-right: 1rem;
}

.buy-again-back-icon-container {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--tertiary);
  cursor: pointer;
  transition: all 0.2s linear;
  transform: scale(0.4);
}

.buy-again-back-icon-container:hover,
.buy-again-back-icon-container:active {
  color: var(--secondary);
}

.user-orders-orderlist-container {
  padding: 2rem 0;
}

.user-orderlist-title {
  padding: 2rem 0 2rem 2rem;
  color: var(--secondary);
  font-weight: 700;
  letter-spacing: 0.2rem;
  border-bottom: 0.5px solid var(--secondary);
  text-align: center;
}
.order-card-grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  column-gap: 0;
  row-gap: 2rem;
  margin: 3rem 0;
  padding: 1rem 0;
}

.order-card {
  width: 95%;
  padding: 3rem 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.order-card .status-id-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.user-order-status {
  width: 60%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.4;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.order-date {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--secondary);
  text-align: center;
}
.order-name {
  margin-bottom: 0.6rem;
}
.order-id > span,
.order-name,
.order-total-price > span {
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.order-total-price > span {
  font-size: 1.2rem;
  color: rgb(21, 65, 21);
  background-color: rgba(177, 212, 177, 0.5);
  padding: 0.5rem;
  border-radius: 5px;
}

.order-total-price {
  margin-top: 1rem;
}

.order-card #order-card-row-info {
  border-top: 1px solid var(--secondary);
  padding-top: 2rem;
}

.order-card-row-info {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-card-img-container {
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
}

.order-card-img-container > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.order-card-review-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-order-card-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.user-order-card-btn-container button {
  width: 80%;
  margin: 1rem 0 0 0;
  padding: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.buy-again-title {
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: var(--tertiary);
  display: inline-block;
  padding: 0.3rem;
  border-radius: 5px;
}

.user-shipping-info-repeat-order-flex.item2,
.user-shipping-info-repeat-order-flex.item5,
.user-shipping-info-repeat-order-flex.item8 {
  border-bottom: 1px solid var(--secondary);
}

.user-shipping-info-repeat-order-flex span {
  font-weight: 700;
  color: rgb(21, 65, 21);
}

.user-shipping-info-repeat-order-flex p {
  flex: 0.5;
}

.repeat-order-btn {
  height: auto;
  width: 100%;
  justify-self: stretch;
  object-fit: cover;
  padding: 0.6rem;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.modify-order-data-btn {
  width: 100% !important;
  margin-top: 2rem !important;
}

.repeat-order-btn:hover,
.repeat-order-btn:active {
  box-shadow: none;
}

.user-order-card-btn-container
  .repeat-order-btn-container
  .repeat-order-btn:first-child {
  margin-bottom: 1rem;
}
.repeat-order-btn img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 400px) {
  .order-card {
    width: 90%;
  }
  .repeat-order-btn {
    height: auto;
    width: 20rem;
  }
}

@media screen and (min-width: 800px) {
  .order-card-grid-container {
    padding: 1rem;
  }

  .order-card {
    width: 98%;
  }
  .order-card .status-id-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .user-order-status {
    margin-bottom: 0;
    width: auto;
  }

  .order-date {
    text-align: left;
  }
  .order-card-row-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .order-card-img-container {
    margin-bottom: 0rem;
  }
  .order-total-price {
    margin-top: 0;
  }

  .user-order-card-btn-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .user-order-card-btn-container button {
    width: auto;
    margin: 0;
    padding: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  .link-disabled {
    cursor: auto;
  }

  /*TOGGLE CLASSES WHEN BUY AGAIN IS ACTIVE*/

  .grid-col-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-col-1 .order-card {
    width: 80%;
  }
  .user-shipping-info-repeat-order-flex {
    display: flex;
    justify-content: space-between;
  }
  .repeat-order-btn {
    width: 10rem;
  }
  .modify-order-data-btn {
    width: 10rem !important;
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 1200px) {
  .user-orders-main-container {
    display: flex;
  }
  .user-orders-page-container {
    padding: 3rem;
  }

  .user-orders-filters-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
  }
  .user-order-query-container {
    align-items: center;
    align-self: start;
    margin: 3rem 0;
  }
  .user-order-query-container > input {
    width: auto;
    background-size: 9%;
    background-position: 90% center;
    margin-bottom: 5rem;
  }
  .user-order-query-container .order-status-container {
    display: block;
    margin-bottom: 5rem;
  }
  .user-order-query-container .order-status {
    width: 100%;
  }
  .buy-again-back-icon-container {
    padding: 6rem 0;
    flex: 1;
    transform: scale(1);
  }
  .user-orders-orderlist-container {
    width: 80%;
  }
  .user-orderlist-title {
    text-align: left;
  }
  .order-card-grid-container {
    column-gap: 1rem;
  }

  .order-card {
    width: 70%;
  }
}
